@import '../../scss/index';
.post {
    padding: 20px;
    border-radius: 20px;
    background: darken($main, 5%);
    &.dark {
        background: lighten(#121212, 5%) !important;
    }
}
.image {
    height: 250px;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    &.large {
        height: 450px;
        @media (max-width: 800px) {
            height: 400px;
        }
        @media (max-width: 600px) {
            height: 300px;
        }
    }
}
.tags {
    padding: 24px 0px 0px 0px;
    & > * {
        &:hover {
            text-decoration: underline;
        }
    }
    & > *:not(:last-child) {
        margin: 0px 10px 0px 0px;
    }
}
.author {
    margin: 10px 0px 0px 0px;
    display: flex;
    &:hover {
        & > * {
            text-decoration: underline;
        }
    }
    &__info {
        margin: 0px 0px 0px 5px;
        display: flex;
        flex-direction: column;
    }
}
